@{
    ViewBag.Title = "Pagina Inicial";
    Layout="~/Views/Shared/_Layout.cshtml";
}

<script type="text/javascript" src="/Scripts/jsapi.js"></script>


<div class="row">
    <div class="col-md-12">
        <div class="row">
            <div class="col-md-12">                    
                <img src="~/Images/pedidosonlinelogopeque.jpg" alt="" style="margin-left:auto;margin-right:auto;display:block;" />            
            </div>
        </div>
        <br />
        <br />
        <div class="row">
            <div class="col-md-12" style="text-align:center;">
                <b class="lang" key="ACCESO_DENEGADO">ACCESO DENEGADO!</b>
                <p class="lang" key="DETALLE_ACCESO_DENEGADO">
                    Actualmente su rol no cuenta con accesos a ese modulo <br />
                    Por favor contacte a su administrador para mayor información <br />
                    O diríjase al <a href="http://pedidosonline.co/" target="_blank">centro de experiencia de PedidosOnline</a>.
                </p>
            </div>
        </div>
    </div>
</div>
