.nav-tabs > li > a {
  -webkit-border-radius: 0 !important;
  -moz-border-radius: 0 !important;
  border-radius: 0 !important;
}
.box-tabs .nav-tabs {
  border-bottom: none;
  position: relative;
  top: -41px;
  margin-right: 0;
  overflow: hidden;
}
.box-tabs .nav-tabs > li {
  margin-left: 1px;
  float: right;
}
.box-tabs .nav-tabs > li.active > a:hover,
.box-tabs .nav-tabs > li.active > a:focus {
  background-color: #fff;
}
.box-tabs .nav-tabs > li > a {
  padding-top: 8px;
  padding-bottom: 10px;
  line-height: 12px;
  margin-top: 0px;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
}
.box-tabs .nav-tabs > li > a:hover,
.box-tabs .nav-tabs > li > a:focus {
  background-color: rgba(255, 255, 255, 0.7);
}
.box-tabs .nav-tabs > li > a.active {
  background-color: #fff;
}
.box-tabs .tab-content {
  margin-top: -30px;
}
.tabbable-custom {
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  margin-bottom: 15px;
}
.tabbable-custom > .nav-tabs {
  border: none;
  margin: 0px;
}
.tabbable-custom > .nav-tabs > li {
  margin-right: 2px;
  border-top: 2px solid transparent;
}
.tabbable-custom > .nav-tabs > li.active {
  border-top: 3px solid #4d7496;
  margin-top: 0;
  position: relative;
}
.tabbable-custom > .nav-tabs > li.active > a {
  border-top: none;
  font-weight: 400;
}
.tabbable-custom > .nav-tabs > li.active > a:hover,
.tabbable-custom > .nav-tabs > li.active > a:active {
  background-color: #fff;
}
.tabbable-custom > .nav-tabs > li > a {
  margin-right: 0;
  padding: 5px 10px;
}
.tabbable-custom > .nav-tabs > li > a:hover,
.tabbable-custom > .nav-tabs > li > a:active {
  background-color: #f9f9f9;
}
.tabbable-custom > .tab-content {
  background-color: #fff;
  border: 1px solid #ddd;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  padding: 10px;
  overflow: auto;
}
.tabbable-custom.tabbable-full-width .nav-tabs > li > a {
  font-size: 15px;
  padding: 8px 20px;
  color: #555555;
}
.tabbable-custom.tabbable-full-width > .tab-content {
  border-left: none;
  border-right: none;
  border-bottom: none;
  padding: 20px 0;
}
/* * * * * * * * * * * *
 * Tabs Below
 * * * * * * * * * * * */
.tabs-below.tabbable-custom > .nav-tabs li {
  border-top: none;
  border-bottom: 2px solid transparent;
  margin-top: -1px;
}
.tabs-below.tabbable-custom > .nav-tabs li.active {
  border-top: none;
  border-bottom: 3px solid #4d7496;
  margin-bottom: 0;
  position: relative;
}
.tabs-below.tabbable-custom > .nav-tabs li.active a,
.tabs-below.tabbable-custom > .nav-tabs li.active a:hover,
.tabs-below.tabbable-custom > .nav-tabs li.active a:focus {
  border-bottom: none;
}
.tabs-below.tabbable-custom > .nav-tabs li a:hover,
.tabs-below.tabbable-custom > .nav-tabs li a:focus {
  border-bottom: 1px solid #eee;
}
/* * * * * * * * * * * *
 * Tabs Left
 * * * * * * * * * * * */
.tabs-left.tabbable-custom > .nav-tabs {
  float: left;
}
.tabs-left.tabbable-custom > .nav-tabs li {
  border-left: 3px solid transparent;
  margin-right: 0;
  margin-top: 0;
}
.tabs-left.tabbable-custom > .nav-tabs li.active {
  border-top: none;
  border-left: 3px solid #4d7496;
  margin-top: 0;
  margin-right: -1px;
  position: relative;
}
.tabs-left.tabbable-custom > .nav-tabs li.active a {
  border-top: 1px solid #ddd;
  border-left: 1px solid transparent;
}
.tabs-left.tabbable-custom > .nav-tabs li a:hover,
.tabs-left.tabbable-custom > .nav-tabs li a:focus {
  border-bottom: 1px solid #eee;
  border-right: none;
}
/* * * * * * * * * * * *
 * Tabs Right
 * * * * * * * * * * * */
.tabs-right.tabbable-custom > .nav-tabs {
  float: right;
}
.tabs-right.tabbable-custom > .nav-tabs li {
  border-right: 3px solid transparent;
  margin-right: 0;
  margin-top: 0;
}
.tabs-right.tabbable-custom > .nav-tabs li.active {
  border-top: none;
  border-right: 3px solid #4d7496;
  margin-top: 0;
  margin-right: -1px;
  position: relative;
}
.tabs-right.tabbable-custom > .nav-tabs li.active a {
  border-top: 1px solid #ddd;
  border-right: 1px solid transparent;
}
.tabs-right.tabbable-custom > .nav-tabs li a {
  margin-left: -1px;
}
.tabs-right.tabbable-custom > .nav-tabs li a:hover,
.tabs-right.tabbable-custom > .nav-tabs li a:focus {
  border-bottom: 1px solid #eee;
}
/* * * * * * * * * * * *
 * Tabs Left & Right
 * * * * * * * * * * * */
.tabs-right.tabbable-custom .nav-tabs > li a,
.tabs-left.tabbable-custom .nav-tabs > li a {
  padding: 8px 10px;
}
.tabs-left > .nav-tabs > li,
.tabs-right > .nav-tabs > li {
  float: none;
}
.tabs-left > .nav-tabs > li > a,
.tabs-right > .nav-tabs > li > a {
  min-width: 74px;
  margin-right: 0;
  margin-bottom: 3px;
}
.tabs-left > .nav-tabs .active > a,
.tabs-left > .nav-tabs .active > a:hover,
.tabs-left > .nav-tabs .active > a:focus {
  border-color: #ddd transparent #ddd #ddd;
}
.tabs-right > .nav-tabs .active > a,
.tabs-right > .nav-tabs .active > a:hover,
.tabs-right > .nav-tabs .active > a:focus {
  border-color: #ddd #ddd #ddd transparent;
}