@model PedidosOnline.Models.Usuario
@{
    ViewBag.Title = "CrearFirma";
    Layout = null;
}
<script>
    ModalProcesandoHiden();
    $("#myModal1").modal("show");
</script>
<div class="modal fade" id="myModal1" data-backdrop="static" data-keyboard="false" style="overflow: hidden;">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close salir" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title"><b>Firma</b></h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="form-group">

                    </div>
                </div>
                <a data-fancybox="gallery" href="https://signup.las.leagueoflegends.com/theme/signup_new_theme/img/logo-lol-smaller.png"><img src="https://signup.las.leagueoflegends.com/theme/signup_new_theme/img/logo-lol-smaller.png"></a>
            </div>
        </div>
    </div>
</div>

